<nav aria-label="Page navigation" ng-if="quickPaging.searchModel.pageCount.length > 1 && quickPaging.maxItems < quickPaging.searchModel.pageCount.length">
  <ul class="pagination">
  	<li ng-disabled="quickPaging.searchModel.paging.pageIndex === 0"><a href="" ng-click="quickPaging.searchModel.paging.toPage(quickPaging.searchModel.paging.pageIndex - 1)">&laquo;</a></li>
  	<li class="startRange" ng-repeat="x in quickPaging.drawStartRange track by $index" ng-class="{'active': (x-1) === quickPaging.searchModel.paging.pageIndex}"><a href="" ng-click="quickPaging.searchModel.paging.toPage(x-1)">{{x}}</a></li>
  	<li class="separator" disabled="disabled"><span>...</span></li>
  	<li class="midRange" ng-repeat="x in quickPaging.drawMidRange track by $index" ng-class="{'active': (x-1) === quickPaging.searchModel.paging.pageIndex}"><a href="" ng-click="quickPaging.searchModel.paging.toPage(x-1)">{{x}}</a></li>
  	<li class="separator" disabled="disabled" ng-if="quickPaging.drawMidRange.length > 0"><span>...</span></li>
	<li class="endRange" ng-repeat="x in quickPaging.drawEndRange track by $index" ng-class="{'active': (x-1) === quickPaging.searchModel.paging.pageIndex}"><a href="" ng-click="quickPaging.searchModel.paging.toPage(x-1)">{{x}}</a></li>
	<li ng-disabled="(quickPaging.searchModel.paging.pageIndex + 1) === quickPaging.drawEndRange[quickPaging.drawEndRange.length-1]"><a href="" ng-click="quickPaging.searchModel.paging.toPage(quickPaging.searchModel.paging.pageIndex + 1)">&raquo;</a></li>
  </ul>
</nav>

<div class="btn-group" ng-if="quickPaging.searchModel.pageCount.length > 1 && quickPaging.maxItems >= quickPaging.searchModel.pageCount.length">
  <button ng-repeat="x in quickPaging.searchModel.pageCount track by $index" ng-click="quickPaging.searchModel.paging.toPage($index)" ng-disabled="$index === quickPaging.searchModel.paging.pageIndex" class="btn btn-primary btn-sm">{{$index + 1}}</button>
</div>
