<nav ng-if="quickPaging.searchModel.pageCount.length > 1 && quickPaging.maxItems < quickPaging.searchModel.pageCount.length">
	<button type="button" class="btn btn-primary btn-sm" ng-click="quickPaging.searchModel.paging.toPage(quickPaging.searchModel.paging.pageIndex - 1)" ng-disabled="0 === quickPaging.searchModel.paging.pageIndex">&laquo;</button>
    <div class="btn-group startRange">
    	<button ng-repeat="x in quickPaging.drawStartRange track by $index" ng-click="quickPaging.searchModel.paging.toPage(x-1)" ng-class="{'btn-primary' :(x-1) === quickPaging.searchModel.paging.pageIndex}" class="btn btn-sm">{{x}}</button>
    </div>
    <span>...</span>
    <div class="btn-group midRange" ng-if="quickPaging.drawMidRange.length > 0">
        <button ng-repeat="x in quickPaging.drawMidRange track by $index" ng-click="quickPaging.searchModel.paging.toPage(x-1)" ng-class="{'btn-primary' :(x-1) === quickPaging.searchModel.paging.pageIndex}" class="btn btn-sm">{{x}}</button>
	</div>
	<span ng-if="quickPaging.drawMidRange.length > 0">...</span>
	<div class="btn-group endRange" ng-if="quickPaging.drawEndRange.length > 0">
	<button ng-repeat="x in quickPaging.drawEndRange track by $index" ng-click="quickPaging.searchModel.paging.toPage(x-1)" ng-class="{'btn-primary' :(x-1) === quickPaging.searchModel.paging.pageIndex}" class="btn btn-sm">{{x}}</button>
	</div>
	<button type="button" class="btn btn-primary btn-sm" ng-click="quickPaging.searchModel.paging.toPage(quickPaging.searchModel.paging.pageIndex + 1)" ng-disabled="(quickPaging.searchModel.pageCount.length - 1) === quickPaging.searchModel.paging.pageIndex">&raquo;</button>
</nav>

<div class="btn-group" ng-if="quickPaging.searchModel.pageCount.length > 1 && quickPaging.maxItems >= quickPaging.searchModel.pageCount.length">
  <button ng-repeat="x in quickPaging.searchModel.pageCount track by $index" ng-click="quickPaging.searchModel.paging.toPage($index)" ng-disabled="$index === quickPaging.searchModel.paging.pageIndex" class="btn btn-primary btn-sm">{{$index + 1}}</button>
</div>

